{% extends 'GCProjetBundle::layoutt.html.twig' %}
{% block head %}
    {{ parent() }}
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
{% endblock %}


{% block body %}
<!--wrapper start-->
<div class="wrapper" id="wrapper">

    <!--header-->
    <header>
        <div class="banner row" id="banner">
            <div class="parallax text-center"
                 style="background-image: url(http://wowthemes.net/demo/leroy/img/dummy1.jpg);">
                <div class="parallax-pattern-overlay">
                    <div class="container text-center" style="padding-top:170px;">
                        <a href="#"><img id="site-title" class=" wow fadeInDown" wow-data-delay="0.0s"
                                         wow-data-duration="0.9s" src="{{ asset('bundles/gcprojet/img/logo_mmitv3.png') }}" alt="logo"/></a>

                        <h2 class="intro wow zoomIn" wow-data-delay="0.4s" wow-data-duration="0.9s">welcome !</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% block menu %}
        {{ parent() }}
    {% endblock %}
    <h1>Playlist</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.playNom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.playDesc }}</td>
            </tr>
            <tr>
                <th>Diffusion</th>
                <td>{{ entity.playDiff|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('gc_playlist') }}">
            Retour à la liste
        </a>
    </li>
    <li>
        <a href="{{ path('gc_playlist_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}